@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  background-color: transparent;
  justify-content: space-around;
  height: 100px;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
}

nav img {
  width: 125px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-around;
}

nav ul .a {
  color: white;
  text-decoration: none;
}

nav ul .a li:hover {
  color: rgb(207, 169, 66);
}

.menu-toggle {
  display: none;
}

@media screen and (max-width: 1124px) {
  nav ul {
    width: 60%;
  }
}

@media screen and (max-width: 920px) {

  .menu-toggle {
    z-index: 10;
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
  }

  .menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
  }

  nav img {
    padding-left: 10px;
    width: 100px;
    z-index: 2;
  }

  nav {
    justify-content: space-between;
    padding: 0 20px 0 20px;
    height: 80px;
  }

  nav ul {
    padding: 80px 0 0 0;
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
    background-color: rgba(4, 53, 93, 0.252);
    /* height: 58%; */
    justify-content: space-evenly;
    z-index: 1;
    width: 100%;
    transform: translateY(-100%);

  }

  nav ul.down {
    transform: translateY(0);
  }

  nav li {
    margin: 0;
    padding: 5px;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
  }
}